@import '_variables';
@import '_normalize';

body {
	margin: 0;
	font-size: 1.8rem;
	padding: 0;

}
h1, h2, h3, h4, h5, h6{
	margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .4rem;
}

p {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 2rem;
  @media (max-width: 770px){
    font-size: 1.5rem;
  }

}
section {

  &.navbars {
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    color: white;
    @media (max-width: 650px){
      font-size: 1.5rem;
    }
  }
  &.white {
    background-color: white;
    a {
      color: white;
      font-weight: bolder;
      letter-spacing: .4rem;
    }
    a:hover {
      color: $background-color3;
    }
  }
  &.navbar-toggler {
    color: white;
  }
}

section {
	.container {
		width: 100%;
		margin: 0 auto;
	}
  &.hero {
  height: 67.0rem;
  width: 100%;
  display: flex;
  background-color: $background-color4;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  text-align: center;
  h1{
    font-size: 14.0rem;
    font-weight: 800;
    letter-spacing: 1.4rem;
    @media (max-width: 650px){
        font-size: 10.0rem;
      }
  }

  h2{
    font-size: 3.0rem;
    @media (max-width: 650px){
      font-size: 2.0rem;
    }

  }
  padding-top: 8rem;
  padding-bottom: 1.5rem;
  }
  img {
  justify-content: center;
  width: 25.0rem;
  background-color: transparent;
  }

}

section {
	.container {
		width: 100%;
		margin: 0 auto;
	}
  &.hero2 {
  height: 30.0rem;
  width: 100%;

  display: center;
  background-color: white;
  text-align: center;

  h3 {
    padding-top: 1.5rem;
  font-size: 6.0rem;
  text-align: center;
  padding-bottom: 2.0rem;
  @media (max-width: 650px){
    font-size: 4.0rem;
  }

  //border-bottom: 4rem solid #000 50%;
  }

}
}

section {
	.container {
		width: 100%;
		margin: 0 auto;
	}
  &.hero3 {
  padding-top: 6.0rem;
  height: 40.0rem;
  width: 100%;
  display: center;
  background-color: $background-color4;
  text-align: center;

  h3 {
  font-size: 6.0rem;
  text-align: center;
  padding-bottom: 3.0rem;
  @media (max-width: 650px){
    font-size: 4.0rem;
  }
  //border-bottom: 4rem solid #000 50%;
  }
  p {
    text-align: left;
    font-size: 2.2rem;
    font-weight: bold;
    @media (max-width: 650px){
      font-size: 1.5rem;
    }
  }
}
}

section {
	.container {
		width: 100%;
		margin: 0 auto;
	}
  &.footer {
  padding-top: 6.0rem;
  height: 30.0rem;
  width: 100%;
  display: center;
  background-color: white;
  text-align: center;

  h3 {
  font-size: 6.0rem;
  text-align: center;
  padding-bottom: 3.0rem;
  @media (max-width: 650px){
    font-size: 4.0rem;
  }

  //border-bottom: 4rem solid #000 50%;
  }
  p {
    text-align: center;
    font-size: 2.2rem;
  }
  img {
    width: auto;
    height: 3.0rem;
  }
  i {
    width: 10.0rem;
    height: 10.0rem;
    color: black;
    @media (max-width: 650px){
      font-size: 4.0rem;
    }

  }
  i:hover {
    color: $background-color3;
  }
}
}







html {
  // Extra small devices (portrait phones)
  @media (max-width: 575.98rem) {
    font-size: 55%;
  }
  // Small devices (landscape phones)
  @media (min-width: 576rem) and (max-width: 767.98rem) {
    font-size: 58%;
  }
  // Medium devices (tablets)
  @media (min-width: 768rem) and (max-width: 991.98rem) {
    font-size: 60%;
  }
  // Large devices (desktops)
  @media (min-width: 992rem) and (max-width: 1199.98rem) {
    font-size: 62.5%;
  }
  // Extra large devices (large desktops)
  @media (min-width: 1200rem) {
    font-size: 62.5%;
  }
}
